<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar" />

<div class="container">

    <form action="/ads/create" method="post" th:object="${ad}">
        Title:
        <input name="title" th:field="*{title}" />
        <br />
        Description:
        <input name="description" th:field="*{description}"/>
        <br />
        <input type="submit" />
    </form>

</div>

</body>
</html>